.k-button {
    width: 100%;
    background-color: #4C78E4;
    color: #fff;
    font-size: 18px;
    background-image: none;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 30px;
}

.wrapit {
    width: 160px;
    height: 160px;
    background-color: #EDF5F7;
    padding: 15px;
    margin: 10px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    padding-top: 45px;
}

#selwrap {
    display: inline-flex;
}

.iconwrap {
    font-size: 10px;
}

.k-icon-64 {
    font-size: 64px;
    /* Sets icon size to 64px */
}

.linktxt {
    color: #4C78E4;
    font-size: 12px;
}

.selClass {
    background-color: #4C78E4;
}