.headText {
    font-size: 10px;
    margin-left: 20px;
    width: 90%;
}

.defText {
    font-size: 10px;
    padding-top: 20px;
    margin-left: 20px;
}

.slide {
    width: 200px;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.dispimg {
    height: 80px;
    width: 80px;
    padding: 15px;
}