<div id="orderText" class="headText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div id="defText" class="defText">Please select a category:</div>
<div class="container">
    <div *ngFor="let parentCat of pcategories" class="setcells">
        Parent Category: {{ parentCat.value }}
        <div *ngFor="let subCat of parentCat.items" class="dflow">
            Category: {{ subCat.value }}
            <div class="slide subbox">
                <div *ngFor="let items of subCat.items" class="itembox">
                    {{ items.ItemName }}
                </div>
            </div>
        </div>
    </div>
</div>