<div id="wrapperDiv" class="wrapperClass">
    <div id="genTitle" class="titleClass">
        <div id="titleText" class="titletextClass">
            <div class="smallFont">Demo</div>
            <div>App</div>
            Evolution
        </div>
        <div id="actions" class="actionClass">
            <a [routerLink]="'ordercatsel'">Orders</a>
            <a [routerLink]="'customergrid'">Customer Center</a>
            <a routerLink="/landing" routerLinkActive="active">Logout</a>
        </div>
    </div>
</div>